// Fonts
@font-face {
    font-family: 'IBMPlex';
    src: url('../fonts/IBMPlexSerif.eot');
    src: url('../fonts/IBMPlexSerif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IBMPlexSerif.woff2') format('woff2'),
        url('../fonts/IBMPlexSerif.woff') format('woff'),
        url('../fonts/IBMPlexSerif.ttf') format('truetype'),
        url('../fonts/IBMPlexSerif.svg#IBMPlexSerif') format('svg');
    font-weight: normal;
    font-style: normal;
}